body{
    background-color: green;
    display: flex;
    justify-content: center; 
}
.card{
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 25px;
}
.one{
    display: flex;
    justify-content: left;
    margin-left: 10px ;
    font-size: 150px;
}
.simbol2{
    display: flex;
    justify-content: center;
    font-size: 200px;
}
.two{
    display: flex;
    font-size: 150px;
    margin-top: 20px;
    rotate: 180deg;
   
}